body{
    background-color: pink;
}
div {
    margin: 40px 0px;
}    
input [type=number] {
    width: 70px;
    padding:10px 10px;
    margin: 0px 0;
    box-sizing: border-box;
}
.result {
    font-size: 5px;
}