body {
    background-color: rgb(253, 192, 255);
}
div {
    margin: 40px 0px;
}    
input [type=number] {
    width: 70px;
    padding:10px 10px;
    margin: 0px 0;
    box-sizing: border-box;
}
.result {
    font-size: 5px;
}
.titulo {
    color:brown;
    text-align:center;
    font-size:5em;
    border:2px solid red;
}
.subtitulo {
    font-size:2em;
}