body { 
	background-color: yellowgreen;
	font-family: Verdana, Geneva, sans-serif;
}
.btn  { 
	text-align: center;
	color: blue; 
}			
.btn:hover {
	text-align: center;
	color: white;
	background-color: black; 
}
	
