body {
    background: linear-gradient(rgb(202, 200, 200) ,aqua,aquamarine );
    padding: 30px;
    margin: 50px 25px;
}
div {
    margin: 15px 0px;
    color:brown; 
    font-family:monospace;
}  
input[type=numb] {
    width: 60px;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing:border-box;
    text-align: justify;
}
.result {
    font-size:30px;
    font-style:italic;
}
.titulo {
    font-size: 2rem;
    color:red;
    text-align:center;
    font-family:monospace;
}
input {
    color:cadetblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
h2 {
    color:brown;
    margin: 20px 0px;
    font-family:monospace;
}